.mainContainer {
  height: 350px;
  width: 350px;
  background-color: $blue;
  border-radius: 2rem;
  padding: 25px 30px;
  display: flex;
  justify-content: start;
  flex-direction: column;

  .star {
    width: 40px;
    height: 40px;
    background-color: $darkBlue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  .text {
    margin-top: 25px;
    h2 {
      color: $white;
    }
    p {
      color: $lightGray;
      font-size: 75%;
      line-height: 20px;
      margin-top: 10px;
    }
  }
  .numbers {
    ul {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      margin-top: 10%;
      li {
        height: 45px;
        width: 45px;
        background-color: $darkBlue;
        list-style: none;
        color: $lightGray;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover {
          background-color: $orange;
          color: $white;
        }
      }
    }
  }
  .button {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    background-color: $orange;
    cursor: pointer;
    color: $white;
    text-transform: uppercase;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
