$orange: hsl(25, 97%, 53%);
$white: hsl(0, 0%, 100%);
$lightGray: hsl(217, 12%, 63%);
$mediumGray: hsl(216, 12%, 54%);
$blue: hsl(213, 19%, 18%);
$darkBlue: hsl(216, 12%, 8%);
$p: 15px;
$overpass: "Overpass", sans-serif;
